.Homecontainer{
    background-image:url("3608226.jpg")
  }
  #top{
    color:rgb(255, 255, 12);
    display:flex;
    /* border:2px dotted white; */
    align-items: center;
    overflow:auto;
    background-color: #563573;
    background: linear-gradient( to bottom,#563573,darkorchid );
    font-family:'Rajdhani';
    position:fixed;
    top:0px;
    z-index:100;  
  }
  #logo{
    background-color: rgb(56, 3, 83);
    text-shadow: 2px 2px 7px burlywood;
    margin: 2px 20px;
    /* font-family: 'Foldit', cursive; */
    
    
    

    /* height: 20px;
    width: 80px; */
    /* animation-name: logoanim1;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
   
  
  }

  #logo h2{
    font-family: 'Nabla', cursive;
    display: flex;
    flex-direction: row;
  }
  
  #inlogo{
    /* background-color: rgb(148, 35, 204); */
    background:radial-gradient(rgb(148, 35, 204),rgb(38, 3, 83));
    /* animation-name: logoanim2;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite; */ 
    
  }
   #outlogo{
    background:radial-gradient(rgb(56, 3, 83),rgb(100, 2, 105));
    /* animation-name: logoanim2;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite; */
    border-radius: 20px;
  } 

  .color{
    margin: 5px 5px;
    position: relative;
    right: 70px;

  }
  
  .mainContainer{
    border:2px solid cyan;
    display: flex;
  }
 
  #navbar a{
    text-decoration: none;
    color:chartreuse;
    margin:2px 2px;
    padding:2px 2px;
    font-family:'Rajdhani';
    font-size: 20px;
    display:inline;
  
  }
  #navbar a:hover{
    text-decoration: none;
    color:rgb(255, 218, 10);
    margin:2px 2px;
    padding:2px 2px;
    font-family:'Rajdhani';
    font-size: 20px;
    
  
  }
  #navbar Link:active{
    text-decoration: none;
    color:rgb(251, 88, 7);
    margin:2px 2px;
    padding:2px 2px;
    font-family:'Rajdhani';
    font-size: 20px;
  }
  #navbar{
    display: flex;
    flex-direction: row;
    margin:2px 311px;
    background-color: #2d0d49;
    border-radius: 19px;
    padding: 3px 13px;
  }
  @media only screen and (min-width:929px) and (max-width:1300px) {
    #navbar{
  margin:2px 71px;
    display: flex;
    
    flex-direction: row;
    
    background-color: #2d0d49;
    border-radius: 19px;
    padding: 3px 13px;
    }
    /* .color{
      position: absolute;
    }
    .logout{
      position: absolute;
    } */
    
  }
  @media only screen and (min-width: 650px) and (max-width:929px) {
    #navbar{
    margin: 2px 71px;
    /* display: none; */
    flex-direction: row;
    background-color: #2d0d49;
    border-radius: 19px;
    padding: 3px 13px;
    }
    .color{
      right: 20px;
      display: none;
    }
    #Logout{
      display:none;
    }
    .material-symbols-outlined{
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    
      position: relative;
      right: -242px;
    
    
      }
    
  }
  @media only screen and (min-width:0px) and (max-width:650px) {
    #navbar{
    margin: 2px 71px;
    display: none;
    flex-direction: row;
    background-color: #2d0d49;
    border-radius: 19px;
    padding: 3px 13px;
    }
    .color{
      right: 20px;
      display: none;
    }
    #Logout{
      display:none;
    }
    .material-symbols-outlined{
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    
      position: relative;
      right: -242px;
    
    
      }
    
  }
  

  
  .material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  position: absolute;
  right: 18px;


  }
  .content{
    border: 4px solid rgb(255, 211, 14);
    color: rgb(87 14 81);
    margin:20px 20px;
    padding:10px 10px;
    background-color: #e2b5ed;
  }
  
  @keyframes logoanim1{
    0%{
        
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }
  @keyframes logoanim2{
    0%{
        
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(-360deg);
    }
  }
  
  #Logout{
    color:rgb(255, 139, 162);
    background-color: darkorchid;
    border: 2px solid rgb(255, 139, 162);
    position: relative;
    right: 50px;
  }
  #Logout:hover{
    color:darkorchid;
    background-color: rgb(255, 139, 162);
    border: 2px solid darkorchid ;
    position: relative;
    right: 50px;
  }

  #logo1{
    animation: Logoanim3;
    animation-duration:500ms;
    animation-delay: 0ms;
    

  }
  #logo2{
    animation: Logoanim3;
    animation-duration:500ms;
    animation-delay: 500ms;
   

  }
  #logo3{
    animation: Logoanim3;
    animation-duration:500ms;
    animation-delay: 1000ms;
    

  }
  #logo4{
    animation: Logoanim3;
    animation-duration:500ms;
    animation-delay: 1500ms;
    

  }
  #logo5{
    animation: Logoanim3;
    animation-duration:500ms;
    animation-delay: 2000ms;
    

  }
  #logo6{
    animation: Logoanim3;
    animation-duration:500ms;
    animation-delay: 2500ms;
    

  }
  #logo7{
    animation: Logoanim3;
    animation-duration:500ms;
    animation-delay: 3000ms;
    

  }

  @keyframes Logoanim3 {
    0%{

    }
    50%{
      transform: translateY(20px);
    }
    100%{
       
    }
  }
  