.library{
    background-color: darkorchid;
    height: 140vh;
    /* overflow: scroll; */
}
.leftmenu{
position: fixed;
width:15%;
justify-self: start;
height: 100%;
background-color: rgb(94, 34, 124);
display: flex;
flex-direction: column;

}
.CardContainer{
    border: 2px solid blue;
    position: absolute;
    display:flex;
    flex-direction: column;
    left: 15%;
    width: 85%;
    overflow:auto;
    
    background-color: rgb(239, 209, 253);
    box-sizing: border-box;
    color:black;
}

.bookcard{
    border: 2px solid rebeccapurple;
    margin: 2px 2px;
    padding:2px 2px;
    display: flex;

}
.image{
    width: 15%;
    border: 2px solid red;
}
.nonimg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    margin:5px 17px;
}
.libnav{
    display: flex;

}
.leftmenu{
    overflow: auto;
}
.leftmenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 43px;
}
.lmtitle{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.closemenu{
    position: absolute;
    right: 1%;
}
.leftmenui{
    display: flex;
    justify-content: center;
}
.leftmenu li{
   /* border-bottom: 2px solid rgb(255, 252, 50); */
    width:170px;
    margin-bottom: 8px;
    border: 1px solid darkorchid;
}
.leftmenu li:hover{
   /* border-bottom: 2px solid rgb(255, 252, 50); */
   border:1px solid rebeccapurple;
    width:170px;
    margin-bottom: 8px;
    background: radial-gradient(rgb(94, 34, 124),rgb(94, 34, 124),rgb(94, 34, 124),rgb(94, 34, 124),violet)
}
.leftmenuul{
    display: flex;
    justify-content: center;
}

.libtitle{
    display: flex;
    justify-content: center;
    /* position: fixed; */
    top: 0%;
}
/* .Welcome{
    justify-self: center;
    align-self: center;
} */
.menuopen{
    justify-self: start;
    position:absolute;
    left: 3%;
}