#newcomp1{
    width:100%;
}
button{
    background-color:  hsl(289, 37%, 23%) ;
    color: rgb(252, 169, 245);
    border: 2px solid rgb(87 14 81); 
    border-radius: 6px;
    margin: 2px 2px;
}
button:hover{
    background-color:  rgb(252, 169, 245) ;
    color: hsl(289, 37%, 23%);
    border: 2px solid rgb(87 14 81); 
    border-radius: 6px;
}