.NewsContainer{
    border-top:2px solid white;
}
.newscard{
    border: 2px solid violet;
    margin:9px 2px;
    padding: 2px 2px;
    border-radius: 20px;
}
.title{
    margin:2px 2px;

}
.Readmore a{
    text-decoration: none;
    color:rgb(51, 6, 106);
}
.newsimg img{
    height: 50%;
    width: 50%;
    
}
.newsimg{
    margin:2px 2px;
    border-bottom: 2px solid violet;
}
.newscard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 60%;
}
.NewsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc{
    font-size: 15px;
}
.news{
    width: 100%;
}