/* #Posts div{
    border: 2px solid red;
    margin:5px 2px;
} */
.PostComp{
    overflow: auto;
}
#Posts{
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
    overflow: auto;
    flex-wrap:wrap;

}
.posts{
    width:350px;
    height:500px;
    padding: 16px 9px;
    border: 2px solid rgb(87 14 81); 
    background-color:#e2b5ed ;
    color: rgb(87 14 81);
    margin : 2px 2px;
    overflow: auto;
    

}
.Panel{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.postLikes{
    margin:2px 2px;
}
.postShares{
    margin:2px 2px;
}
.Follow{
    margin:2px 2px;
}
#newPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newpost{
    display: flex;
    justify-content: center;
}
#postimage{
    height: 300px;
    width: 300px;
}
.Comment2{
    display: flex;
    justify-content: center;
    font-size: 12px;

}
.newComment{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.PostCom{
    width: 100px;
}
.PostComHolder{
    display:flex;
    justify-content: center;
}
.netContent{
    border:1px solid rebeccapurple;
    margin:2px 2px;
    border-radius:  6px;
}
.commentby{
    margin:12px 12px;
}
.CommentTB{
    margin: 2px, 20px;
}
.ComLikes{
    margin:2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Reply2{
    display: flex;
    justify-content: center;
}
.repContent{
    margin:2px 2px;
    font-size: 11px;
}
.repLikes{
    margin: 2px 2px;
    font-size: 11px;
}
.replyBy{
    margin:2px 2px;
    font-size: 11px;
}
.media{
    border: 1px solid blueviolet;
    margin: 2px 2px;
    
}
.by{
    font-size: 12px;
}
.newReply{
    display: flex;
    justify-content: center;
    font-size: 12px;
    flex-direction: column;
}
.postReply{
    width:80px;
    float: right;
    font-size: 12px;
}
.comContent{
    font-size: 12px;
   
}
.comments{
    background-color: blanchedalmond;
    margin:9px 5px;
    overflow: auto;
   border-radius: 7px;

}
.Replies{
    border-top: 0.5px solid rgb(130, 76, 6);
    margin: 2px 2px;
    font-size: 10px;
}
.RepliesC{
    border: 0.5px solid rgb(130, 76, 6);
    margin: 2px 2px;
    font-size: 10px;
}
.comContainer{
    background-color: rgb(195, 109, 201);
    padding: 2px 2px;
    border-radius: 5px;
    overflow: auto;
}